* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: var(--tg-theme-bg-color, #ffffff);
  color: var(--tg-theme-text-color, #000000);
}

#root {
  height: 100vh;
  width: 100vw;
}

button {
  -webkit-tap-highlight-color: transparent;
  outline: none !important;
}